
  /********************Project Summary Section***************/
  
  .parentDiv {
    margin-top: 70px;
    padding-top: 2.5rem;
  }
  .titleWithSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
  }
  .inputSearchDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .myinput {
    min-width: 318px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px 0 0 5px !important;
    transition: all 0.5s ease-in-out;
    padding: 7px;
  }
  .myinput:focus {
    border-radius: 5px 0 0 5px !important;
    min-width: 550px;
    border: 1px solid black !important;
    transition: all 0.5s ease-in-out;
  }
  .modal-container{
    height: 80vh !important;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer; /* Invert the colors (black icon on white background) */
  }
  .backbtn{
    border-radius: 50%;
  }
  
  input:focus {
    border: none !important;
    outline: none !important;
  }
  
  
  .mytd {
    position: relative;
    max-width: 150px !important;
    text-align: center; /* Center horizontally */
    vertical-align: middle; /* Center vertically */
  }
  .projectTable{
    max-height: 70vh !important;
    overflow: auto;
    position: relative;
  }
  .projectTable::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }
  .projectTable::-webkit-scrollbar-thumb {
    background-color: #5d5d5f; /* Set the color of the scrollbar track (the non-draggable part) */
    border-radius: 10px 50px 50px 10px; /*Round the corners of the thumb*/
  }
  
  .projectTable::-webkit-scrollbar-track {
    border-radius: 10px; /*Round the corners of the thumb*/
    background-color: white; /* Set the color of the scrollbar thumb (the draggable part) */
  }

  .mydiv {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 40px;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .threeDotIcon {
    padding: 10px;
  }
  .searchbtn {
    border-radius: 0 10px 10px 0 !important;
  }
  .jloop{
    min-width: 100% !important;
  }
  .UrlTable{
    border-radius: 10px;
  }