/* .bgimg{
    height: 87.5vh;
    background-image:url('../../assets/dash.png');
    background-repeat: no-repeat;
    background-size: cover;
} */
.dashboard{
    height: 70vh !important;
    margin-top: 120px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard h1{
    color: black !important;
    font-size: 120px;
}