.dashboard{
    padding: 50px 0;
    
}

.projectStatus{
    margin-top: 71px !important;
}

.projectStatus h4,h5{
    line-height: 7px;
}

.ProjectStatus{
    border: 1px solid rgb(179, 175, 175);
    box-shadow: 3px 3px 5px rgb(207, 206, 206);
    border-radius: 5px;
    height: 100px;
}

.graph-1{
    box-shadow: 3px 3px 5px rgb(207, 206, 206);
}
.hh{
    background-color: aqua;
}

.check{
    color: green;
    font-size: 25px !important;
}
.mark{
    color: red;
    font-size: 25px !important;
}
.working{
    color: rgb(160, 204, 243);
    font-size: 25px !important;
}
.pend{
    color: #f7bb07;
    font-size: 25px !important;
}
.graphimg img{
    height: 300px;
    width: 700px;
}
@media (max-width: 768px) {
    .table-responsive-custom {
      overflow-x: auto;
    }
  }
  .grandtotal{
    height: 70px;
    font-weight: bolder;
  }
  .table-design{
    max-height: 500px !important;
  }