.dashboard{
    background-color: aqua;
    margin-top: 71px !important;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-around; */
}
.ProjectStatus{
    /* flex-grow: 1;
    flex-basis: 200;
    width: 200px;
    height: 150px;
    display: grid;
    place-items: center; */
}
.graphPortion{
    max-height: 250px;
}
.graphPortion{
    max-height: 200px;
}