@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* *{
    font-family: 'Poppins', sans-serif;
} */






/* Updated CSS */
.addendumdate {
  text-decoration: underline;
}
/* .Wrapper{margin-top: 70px;} */
.rawk {
  margin-top: 70px;
  padding: 30px; /* Add padding to the content */
  box-sizing: border-box; /* Ensure padding is included in element size */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.printable-content {
  padding-top: 30mm; /* Adjust padding as needed */
  page-break-before: always; /* Force a page break before this element */
}
.rightTop{
  width: 300px !important;
  color: rgb(97, 95, 95);
  font-family: 'Poppins', sans-serif;
}
.topinfo{
  font-size: 16px !important;
  font-weight: 600;
  text-align: right;
  line-height: 17px;

}
.logoimg{
  width: 200px;
}
.pdfPage{
  padding: 40px 30px 20px 30px;
}
DMS{
  font-family: 'Poppins', sans-serif;
}
.myesti{
  font-weight: 700 !important;
  font-size: 20px;
}
.headd{
  text-decoration: underline;
}
.newww{
  text-align: right;
  padding-right: 40px;
}
.fwww{
  font-weight: bold !important;
}
.pdfside{
  float: right;
  padding: 0px 50px;
  margin-bottom: 40px !important;
}
.topSection{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.coverdiv{
  padding: 40px 100px;
  margin: 0 100px;
}
.baseh4{
  font-size: 19px !important;
  font-weight: 700 !important;
}
.baseh5{
  font-size: 21px;
}
.emailbtn{
  cursor: pointer;
}
.emailbtn:focus{
scale: 1.2;
}