body{
  font-family: Roboto, sans-serif;
}
*{
  color: black !important;
}
/* Purposal.css */
.pdfDiv{
  margin-top: 80px;
}
.pdfpage {
  padding: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bg-info {
  background-color: #b3e0f2;
  padding: 20px;
  border: 1px solid #ccc;
}

.page-template {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.contentPage {
  page-break-before: always;
  page-break-inside: avoid;
  margin: 10px;
}

.bodycontent {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 20px;
  text-align: left;
  padding-bottom: 30px !important;
}

.bodycontent h5 {
  margin: 0;
  font-weight: bold;
  color: #333;
  padding: 5px 0;
}

.bodycontent p {
  margin: 0;
  padding: 5px 0;
}

/* Add more styles as needed */

