@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.DMS{
    font-family: 'Poppins', sans-serif;
}
.dmsh1{
    font-size: 35px !important;
    color: black;
}
.span12{
    font-size: 35px !important;
    font-family: 'Poppins', sans-serif;
}
.ss1{
    color: #4fd311;
}
.ss2{
    color: rgb(224, 56, 34);
}
.dmsh2{
    padding: 50px 50px;
}
.span11{
    font-size: 35px !important;
    color: rgb(81, 161, 231);
}
#waitingpage{
    min-height: 100vh ;
    background-color: rgb(238, 238, 241);
    display: grid;
    place-items: center;
    
}
/* .contentwaiting * {
    padding:70px 60px;
    color: black;
  
} */
.newcontent{
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: rgb(211, 218, 223);
    /* box-shadow: 10px 10px 5px 12px rgb(202, 230, 240); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 70px 50px;
    
}

.contentwait{
   /* border: 1px solid black; */
   display: flex;
   justify-content: center;
   flex-direction: column;

}
.pending{
    color: rgb(255, 176, 4);
}
.rejectPage{
    min-height: 100vh ;
    background-color: rgb(238, 238, 241);
    display: grid;
    place-items: center;
}
.admindecisionPage {
    min-height: 100vh ;
    background-color: rgb(238, 238, 241);
    display: grid;
    place-items: center;
    text-align: center;
    


}
.newbtnsuccess{
    background-color: #4fd311 !important;
    color: white;
    font-size: 20px;
    width: 150px;
    padding:  7px 30px !important;

}
.newbtnsuccess:hover{
    background-color: white !important;
    color: #4fd311 !important;
}
.newbtnsuccess1{
    background-color: rgb(224, 56, 34) !important;
    color: white;
    font-size: 20px;
    width: 150px;
    padding:  7px 30px !important;

}
.newbtnsuccess1:hover{
    background-color: white !important;
    color: rgb(224, 56, 34) !important;
}