.parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_Parent{
    display: flex;
    padding: 20px;
    gap: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    border-radius: 5px;
    /* box-shadow: 0 3px 3px 1px rgb(187, 186, 186); */
}
.sub_Parent img{
    height: 50px;
}
h1{
    text-align: center;
    font-size: 20px;
}
.SignUpInput{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    background-color: #F6F2F2;
    box-shadow: 0 4px 4px 0 rgb(187, 186, 186);
    border: none;
    font-size: 16px;
    outline: none;
    color: #1b1b1b;
    padding: 2px 2px 2px 10px;
}
.SignUpInput:focus{
    border: none;
}

.pass{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.submitbtn{
    width: 350px !important;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 2px 8px;
    background-color: #071088;
    margin-top: 30px;
}
.submitbtn:hover{
    background-color: #07109f;
}
.signuplink{
    margin-top: -15px;
}
.passfield{
    position: relative;
}
.signup-toggle-pass{
    position: absolute;
    right: 10px;
    top: 8px;
     cursor: pointer;
}
.signnn{
    color: gray;
}
.format{
    margin-top: -20px;
    font-size: 14px;
    color: rgb(104, 102, 102) !important;
}
.pass2{
    margin-top: -25px !important;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Use a high z-index to ensure it appears above other content */
  }
  
  /* Styles for the pop-up container */
  .popuppass {
    background: #fff;
    width: 300px; /* Adjust the width to your preference */
    height: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Use a higher z-index than the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Optional styles to center the text within the pop-up */
  .popuppass p {
    text-align: center;
    color: rgb(185, 21, 21) !important;
  }
  .popupsuccess{
    background: #fff;
    width: 300px; /* Adjust the width to your preference */
    height: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Use a higher z-index than the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Optional styles to center the text within the pop-up */
  .popupsuccess p {
    text-align: center;
  
    color: green !important;
  }