.parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_Parent{
    display: flex;
    padding: 20px;
    gap: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    border-radius: 5px;
    box-shadow: 0 3px 3px 1px rgb(187, 186, 186);
}
.sub_Parent img{
    height: 50px;
}
h1{
    text-align: center;
    font-size: 20px;
}
.SignUpInput{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    background-color: #F6F2F2;
    box-shadow: 0 4px 4px 0 rgb(187, 186, 186);
    border: none;
    font-size: 16px;
    outline: none;
    color: #1b1b1b;
    padding: 2px 2px 2px 10px;
}
.SignUpInput:focus{
    border: none;
}

.pass{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.submitbtn{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 2px 8px;
    background-color: #071088;
    margin-top: 30px;
}
.submitbtn:hover{
    background-color: #07109f;
}
.signuplink{
    margin-top: -15px;
}
.passfield{
    position: relative;
}
.signup-toggle-pass{
    position: absolute;
    right: 10px;
    top: 8px;
     cursor: pointer;
}