.headddd{
    color: gray;

}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Use a high z-index to ensure it appears above other content */
  }
  
  /* Styles for the pop-up container */
  .popup {
    background: #fff;
    width: 300px; /* Adjust the width to your preference */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Use a higher z-index than the overlay */
  }
  
  /* Optional styles to center the text within the pop-up */
  .popup p {
    text-align: center;
    margin: 0;
    color: green;
  }
  
 