.estimator {
  position: relative;
  margin-top: 70px;
  padding-top: 2.5rem;
  z-index: 99;
  /* height: 100vh; */
  /* background-color: rgb(247, 38, 38); */
}

td {
  padding: 5px 10px !important;
  background-color: rgb(244, 248, 246) !important;
  max-width: fit-content !important;
}
.inputbtn {
  /* min-width: 350px; */
  position: absolute;
  right: 0;
  color: black;
  top: 2.5rem;
}
.myinput {
  min-width: 318px;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.myinput:focus {
  min-width: 550px;
  border: 1px solid black !important;
  border-radius: 0 !important;
  transition: all 0.5s ease-in-out;
}
#myInput {
  /* background-image: url('/css/searchicon.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}
.modal-container {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  height: 650px;
  width: 950px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  opacity: 0; /* Initially hide the modal */
  pointer-events: none; /* Disable mouse events on the hidden modal */
  transition: opacity 0.5s, transform 0.5s; 
}

.modal-container.show {
  opacity: 1; /* Show the modal */
  pointer-events: auto; /* Enable mouse events */
  transform: translate(-50%, -50%) scale(1); /* Scale to 1 for the opening transition */
}
.modal-content{
  z-index: 9999999999999999;
}
.modal-content,
.purposal-content {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Style the scrollbar for WebKit-based browsers */
.modal-content::-webkit-scrollbar,
.purposal-content::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.modal-content::-webkit-scrollbar-thumb,
.purposal-content::-webkit-scrollbar-thumb {
  background-color: #283897; /* Set the color of the scrollbar track (the non-draggable part) */
  border-radius: 10px; 
}

.modal-content::-webkit-scrollbar-track {
  border-radius: 10px; 
  background-color: white; /* Set the color of the scrollbar thumb (the draggable part) */
}

/* CSS for the close button */
.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  background-color: #283897;
  padding: 5px 10px;
  border-radius: 5px;
  border: none; /* Remove the default button border */
  /* border-radius: 50%; Make it circular */
}

/* Style the close icon inside the button */
.close-btn::before {
  content: "\00D7"; /* Unicode for the close icon (×) */
  color: white; /* Color the close icon white */
  /* font-size: 30px; Adjust the font size as needed */
  line-height: 1; /* Center the icon vertically */
}
.blur-background {
  filter: blur(5px); /* You can adjust the blur intensity */
  pointer-events: none; /* Allow click-through to the modal */
}

.modal-active {
  filter: blur(5px);
  pointer-events: none;
  overflow: hidden;
}
.btn-submit {
  width: 200px;
  background-color: #283897;
  color: white;
  margin: 0 auto;
}
.btn-submit:hover {
  background-color: #283897;
  color: white;
}
.addnewtxt {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(3, 3, 3);
  padding: 5px;
  border-radius: 5px;
  text-align: center; /* Center the text */
}

.addnewtxt::after {
  content: ""; /* Create a pseudo-element */
  display: block; /* Make it a block element */
  width: 100%; /* Set the width to 100% to create a line that spans the text */
  height: 1px; /* Set the height to create the line */
  background-color: #283897; /* Line color */
  margin-top: 5px; /* Adjust the margin to control the spacing between text and line */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  cursor: pointer; /* Invert the colors (black icon on white background) */
}

input:focus {
  border: none !important;
  outline: none !important;
}
.exclusionsID {
  width: 50px !important;
}
.spacebtns {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.upperDiv {
  position: relative !important;
  background-color: aqua;
}
.mydiv {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
.relative-container {
  position: relative;
}
.mydiv.open {
  /* opacity: 1; */
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  opacity: 0;
  border: 0.4px solid rgb(214, 212, 212);
  width: 110px !important;
  position: absolute;
  box-shadow: 2px 2px 5px rgb(160, 159, 159);
  top: 30px;
  right: 50px !important;

  /* border-radius: 5px; */
}
.mydiv {
  opacity: 0;
}
.mydiv:hover {
  opacity: 1;
}
.modal-title {
  color: black;
}
.dropbtns {
  width: 100% !important;
  padding: 0 !important;
  font-size: 17px !important;
  border-radius: 2px !important;
  margin: 1px 0;
  color: white !important;
}
.dropbtns:hover {
  padding: 0.3px 0 !important;
}

.mytdbidder,
.myproject {
  max-width: 250px !important;
  text-align: left !important;
}
.mytd {
  position: relative;
}

.proposalHeader {
  text-align: center;
}
.mydiv {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 40px;
  opacity: 0;
  display: none;
  min-width: 150px !important;
  transition: opacity 0.3s ease-in-out;
}

.dropUpdation {
  background-color: transparent !important;
  color: black;
  border-radius: 5px;
  border: none !important;
  outline: none;
  cursor: pointer;
}

.threeDotIcon {
  /* background-color: #283897; */
  padding: 10px;
}

.mydiv.open {
  opacity: 1;
  display: block; /* or display: initial; depending on your layout */
  flex-direction: column;
}
.bk {
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 10px !important;
}
.icon {
  /* background-color: aqua; */
  margin-top: 7px;
}
.wholediv {
  /* padding: 10px   !important; */
  border-radius: 10px;
  background-color: rgb(182, 181, 181) !important;
}
/* ************************ */
.myrowInputgrouup {
  margin-bottom: 10px !important;
}
.addEntrybtn {
  margin-top: -5px;
  border-radius: 10px !important;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.serviceInput {
  border-radius: 10px !important;
}
input[type="text"].serviceInput.focused {
  border: 0 !important;
  outline: 0 !important;
  border: 0px solid white !important;
  outline: 0px solid white !important;
}
.sarviceSection {
  max-height: 350px !important;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.switch {
  position: relative;
  display: inline-block;
  height: 23px !important;
  max-width: 23px !important;
  /* background-color: #1976d2; */
  margin: 0 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px !important;
  width: 16px !important;
  left: 10px !important;
  bottom: 4px !important;
  /* background-color: rgb(119, 116, 116) !important; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* Style the scrollbar for WebKit-based browsers */
.sarviceSection::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.sarviceSection::-webkit-scrollbar-thumb {
  background-color: #5d5d5f; /* Set the color of the scrollbar track (the non-draggable part) */
  border-radius: 10px; 
}

.sarviceSection::-webkit-scrollbar-track {
  border-radius: 10px; 
  background-color: white; /* Set the color of the scrollbar thumb (the draggable part) */
}
.jloop {
  border-radius: 20px 20px 0 0 !important;
  margin-top: 50px !important;
  min-height: 50vh !important;
}
.parentSpecification {
  position: relative;
}
.specSectionADD {
  position: absolute;
  right: 5px;
  margin-top: 5px !important;
  /* margin-bottom: 55px !important; */
}
.specificationEntry {
  border-radius: 5px !important;
  background-color: #e9e6e6;
  margin-bottom: 30px !important;
  padding: 10px !important;
}
.myservices {
  max-height: 420px !important;
  border-radius: 10px !important;
  background-color: #e6e2e2;
  /* border: none !important;
  outline: none !important; */
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.myservices::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.myservices::-webkit-scrollbar-thumb {
  background-color: #5d5d5f; /* Set the color of the scrollbar track (the non-draggable part) */
  border-radius: 10px 50px 50px 10px; 
}

.myservices::-webkit-scrollbar-track {
  border-radius: 10px; 
  background-color: white; /* Set the color of the scrollbar thumb (the draggable part) */
}
/* ***************************For radio Button */

.switch {
  position: relative;
  display: inline-block;
  /* width: 30px;
  height: 30px; */
  border: none !important;
  outline: none !important;
  padding: 0 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1976d2;
}

input:focus + .slider {
  box-shadow: 1px 1px 5px 2px #abacad;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.serviceInput {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  color: black;
  border-radius: none !important;
  border: none !important;
  outline: none !important;
}
.serviceInput:focus {
  border: none !important;
  outline: none !important;
}
.serviceDiv:first-child {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0 0 !important;
}
.serviceDiv {
  background-color: rgb(255, 255, 255);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bothDiv {
  display: flex;
  justify-content: space-between;
}
.Oneline {
  width: 390px !important;
}
.MyForm {
  display: flex;
  flex-direction: column;
  gap: 20px !important;
}
#bidderDetails {
  height: 120px !important;
}
table tr > th,
tr {
  border: 1px solid rgb(182, 181, 181);
  font-size: 17px;
  padding: 10px !important;
  /* height: 120px; Added rule to set row height */
}

th {
  background-color: #1976d2;
  color: white;
}
tr:hover {
  /* cursor: pointer; */
  background-color: #eaebec !important;
  color: rgb(44, 44, 44);
}

td {
  border: 1px solid rgb(216, 213, 213) !important;
  max-height: 120px !important;
}
th {
  background-color: #1976d2 !important;
  color: white !important;
}
/* td:nth-child(2), td:nth-child(6){
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
} */
td:nth-child(2),
td:nth-child(6),
td:nth-child(8) {
  padding: 0 10px !important;
}
.centered-td {
  text-align: center; /* Center horizontally */
  vertical-align: middle; /* Center vertically */
}

.modal {
  max-height: 400px !important;
}

.modalContainer {
  min-height: 100vh !important;
  background-color: #82bfff;
}

.modal-dialog {
  min-width: 60vw !important;
  /* min-height: 85vh !important; */
}
/* .modal-body{
  padding-top: 50px !important;
  max-height: 65vh !important;
  overflow-y: scroll;
} */
.myform {
  padding-top: 50px !important;
  max-height: 65vh !important;
  overflow-y: scroll;
  /* margin-top: 150px !important; */
}
.projName {
  width: 96%;
}
.modal-body::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #5d5d5f; /* Set the color of the scrollbar track (the non-draggable part) */
  border-radius: 10px 50px 50px 10px; 
}

.modal-body::-webkit-scrollbar-track {
  border-radius: 10px; 
  background-color: white; /* Set the color of the scrollbar thumb (the draggable part) */
}
.proposalTable {
  max-height: 71vh !important;
  overflow: auto;
  border-radius: 10px !important;
}
.jktable{
  opacity: 0.8;
  background-color: #ddd;
}
.proposalTable::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.proposalTable::-webkit-scrollbar-thumb {
  background-color: #5d5d5f; /* Set the color of the scrollbar track (the non-draggable part) */
  border-radius: 10px 50px 50px 10px; 
}

.proposalTable::-webkit-scrollbar-track {
  border-radius: 10px; 
  background-color: white; /* Set the color of the scrollbar thumb (the draggable part) */
}
.timefield {
  display: flex;
  flex-direction: column !important;
  /* padding: 5px; */
}
/* Customize the time picker dropdown */
/* Customize the time picker dropdown container */
.react-datepicker__time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px; /* Set the width */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Customize the individual time options */
.react-datepicker__time-list {
  list-style: none;
  overflow-y: auto; /* Add vertical scrolling */
  overflow-x: hidden;
  max-height: 150px; /* Set a maximum height for the dropdown */
}

/* Style the scrollbar */
.react-datepicker__time-list::-webkit-scrollbar {
  width: 5px;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background-color: #5d5d5f;
  border-radius: 10px;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
  background-color: white;
}

/* Style individual time options */
.react-datepicker__time-list-item {
  cursor: pointer;
  text-align: center;
  /* width: 150px !important; */
  margin: -2px !important;
}

/* Style the selected time option */
.react-datepicker__time-list-item--selected {
  background-color: #82bfff;
  color: white;
  margin: -5px !important;
  font-weight: bold;
}
.mypicker {
  outline: none;
  /* border: 2px solid red; */
  border-radius: 10px 0 0 10px !important;
}
.selectpicker {
  border-radius: 0 10px 10px 0 !important;
  border-color: #dbdcdd;
  outline: none;
  background-color: white !important;
  color: black;
}

/* Style time options on hover */
.react-datepicker__time-list-item:hover {
  background-color: #ddd;
}
.ParentAllDiv {
  position: relative;
  /* z-index: -99; */
  /* background-color: #4caf50; */
}
.AllbackDivs {
  background-color: #b1b0b0;
  position: absolute;
  border-radius: 50%;
  top: -60px;
  left: -60px;
  width: 250px;
  height: 250px;
  z-index: -99;
}
.backDiv1 {
  background-color: #fdfdfd;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  top: 100px;
  left:80px;
}
/* ******************* */

.table-responsive {
  overflow-x: auto;
}

.table {
  /* table-layout: auto; */
  width: 100%;
}

td {
  height: 100px !important;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis; 
  text-align: left; 
}

.myproject{
  min-width: 250px !important;
}