.main{
  /* margin-top: 20px !important; */
  display: flex;
  height: 96.22vh;
  background-color: rgb(255, 253, 253) ;
  
}
.sidebar{
  width: 350px !important;
  flex-shrink: 0;
  height: 100%;
  position: fixed;
  overflow: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 234, 234);
}
.sidebaritem{
  display: block;
  font-size: 1em;
  padding:.75em 1em;
  transition: background-color 0.15s;
}
.sidebaritem:hover{
  background-color: #0b58cca2;
  color: white;
  cursor: pointer;
}

.sidebarContent{
  font-size: 0.9em;
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebaritem.open > .sidebarContent{
  height: auto;
}
.sidebarTitle{
  display: flex;
  justify-content: space-between;
}
.togglebtn .sidebarTitle{
  cursor: pointer;
  transition: transform .5s;
}
.sidebaritem.open >.sidebarTitle .togglebtn {
  transform: rotate(180deg);
}


.main-1 .container{
  border-right: 1px solid black;
  height: 50vh;
  /* background-color: rgb(155, 155, 155); */

}



.main-1{
  display: flex;
  /* background-color: rgb(207, 231, 252); */
  height: 50vh;
  margin-top:20vh;
  margin-left: 40vh;
  
}

.container-2{
  display: flex;
  /* align-items: center; */
  margin-left: 20px;
  /* background-color: rgb(150, 150, 150); */
  height: 50vh;
  align-items: center; /* Vertically center content */


}

.main-1 strong {
  min-width: 200px;  
  text-align: left; 
}
 .main-1 p {
  padding-right: 10px; /* some padding to keep the text from touching the border */
  display: flex;       /* make the p element a flex container */
  justify-content: space-between; /* space out the strong and the data */
}

.main-1 label {
  letter-spacing: 0;
  white-space: nowrap;  /* To prevent wrapping */
}

.main-1 span {
  margin-right: 5px; /* To add some spacing between contracts */
}

.main-1  .container-2-2{
  margin-top: 9px;
  /* background-color: red; */
  text-align: right ;

}

.container-2-2 label {
  letter-spacing: 0;
  /* white-space: nowrap;  To prevent wrapping */
  margin-left: 10vh;  
}




.main-2{
  display: flex;
  /* background-color: rgb(207, 231, 252); */
  height: 50vh;
  margin-top:10vh;
  margin-left: 40vh;
  border-top: 1px solid black;
  text-align: center;

  
}

.container1{
  height: 50vh;
  /* background-color: rgb(155, 155, 155); */

}
.main-2 strong {
  min-width: 200px;  
  text-align: left; 
}
 .main-2 p {
  padding-right: 10px; /* some padding to keep the text from touching the border */
  display: flex;       /* make the p element a flex container */
  justify-content: space-between; /* space out the strong and the data */
}

.main-2 label {
  letter-spacing: 0;
  white-space: nowrap;  /* To prevent wrapping */
}

.main-2 span {
  margin-right: 5px; /* To add some spacing between contracts */
}

.tableSubmitls{

  height: 50vh;
  margin-top:10vh;
  margin-left: 40vh;
  border-top: 1px solid black;
}