#main{
  margin-top: 80px !important;
  display: flex;
  height: 96.22vh;
}
.sidebar{
  width: 260px !important;
  flex-shrink: 0;
  height: 100%;
  position: fixed;
  overflow: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 234, 234);
}
.sidebaritem{
  display: block;
  font-size: 1em;
  padding:.75em 1em;
  transition: background-color 0.15s;
}
.sidebaritem:hover{
  background-color: #0b58cca2;
  color: white;
  cursor: pointer;
}

.sidebarContent{
  font-size: 0.9em;
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebaritem.open > .sidebarContent{
  height: auto;
}
.sidebarTitle{
  display: flex;
  justify-content: space-between;
}
.togglebtn .sidebarTitle{
  cursor: pointer;
  transition: transform .5s;
}
.sidebaritem.open >.sidebarTitle .togglebtn {
  transform: rotate(180deg);
}
.container{
  height: 100%;
  padding: 20px;
  /* flex-grow: 1; */
  margin-left: 260px;
  /* background-color: rgb(197, 159, 233); */
}





/* ******* */